.footer-menu {
    background-color:  hsl(200, 100%, 85%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-menu-logo {
    padding-top: 4rem;
 
}


.footer-menu-items {
    padding-top: 3rem;
}

.footer-menu-items a {
    text-decoration: none;
    font-weight: bold;
    padding: 1.5rem;
    font-size: 18px;
    color:  hsl(168, 34%, 41%);
}

.footer-menu-icons {
    padding: 2rem;
}


.footer-menu-icons a {
    text-decoration: none;
}


.footer-menu-icons svg {
    padding: 1rem;
}

.attribution {
    padding-bottom: 1rem;
    color:  hsl(168, 34%, 41%);
}


.attribution a{
    text-decoration: none;
    color:  hsl(168, 34%, 41%);
    font-weight: bold;
}